In [21]:
# Widen width of notebook
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:98% !important; }</style>"))

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv('df_19.csv')
df = df[['LOAN_ID','LOAN_NAME','DESCRIPTION_TRANSLATED']]

In [22]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from textblob import TextBlob
from nltk.sentiment import SentimentIntensityAnalyzer
import nltk
from afinn import Afinn

In [23]:
df.head(2)

   LOAN_ID LOAN_NAME                             DESCRIPTION_TRANSLATED
0  1873913   Celesti  Celesti is a married woman with four children....
1  1761599    Robert  Robert is a 45-year-old married male with four...

### emotional score

In [26]:
df['emo_score']=0.0

for i in range(0, len(df.LOAN_ID)):
    text = str(df.DESCRIPTION_TRANSLATED[i])
    name = str(df.LOAN_NAME[i])
    
    # to lower case
    text = text.lower()
    name = name.lower()
    
    # remove loan name from the description
    text = text.replace(name,'')
    
    # remove number
    import re
    text = re.sub(r'\d+', '', text)

    # remove <br />
    text = text.replace('<br />','')

    # remove punctuation
    import string
    text = text.translate(str.maketrans('', '', string.punctuation))

    # remove white space
    text = text.strip()
    
    # remove stop words
    stop_words = set(stopwords.words('english'))
    tokens = word_tokenize(text)
    text = [j for j in tokens if not j in stop_words]
    
    # Lemmatization using NLTK
    lemmatizer=WordNetLemmatizer()
    text = ' '.join([lemmatizer.lemmatize(w) for w in text])
    
    # try NLTK compound sentiment score [-1,1]
    df.emo_score[i] = SentimentIntensityAnalyzer().polarity_scores(text)['compound']

In [27]:
df.head(2)

,LOAN_ID,LOAN_NAME,DESCRIPTION_TRANSLATED,emo_score
0,1873913,Celesti,Celesti is a married woman with four children....,0.6486
1,1761599,Robert,Robert is a 45-year-old married male with four...,0.9042

In [28]:
df.to_csv('emotion_score.csv')